# Archivos de configuración local
instance/

# Archivos de registro
*.log

# Archivos de base de datos
*.db

# Archivos y carpetas generados por el entorno virtual
venv/
env/
*.pyc
__pycache__/
.venv/

# Archivos y carpetas generados por IDEs
.vscode/
.idea/

# Archivos y carpetas generados por herramientas de construcción
build/
dist/
*.egg-info/

# Variable de entorno
.env